{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.pictureUrl }}" style="width:300px;">
    <p>price : {{ product.price }}</p>
    <p>Only {{ product.stock }} left !</p>
    <button id="add-to-cart">Add to cart</button>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#add-to-cart').on('click', function(){
                $.post("{{ path('add_cart_json') }}", {
                    product_id: {{ product.id }},
                    quantity: 1
                } );
            })
        })
    </script>
{% endblock %}
